extends baseEmail

block content
  p Hola #{firstName},
  p ¿Olvidaste tu contraseña? Para completar tu solicitud da click en el siguiente botón.
  //- p #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Restablece tu contraseña
  p Si no olvidó su contraseña, ignore este correo.
